<div class="side-nav">
  <div class="grapper-box-sidebar">
    <!-- close btn -->
    <a class="btn-close" href="#">
      <i class="fa fa-times"></i>
    </a>
    <div class="sidebar-content">
      <div class="logo-sidebar">
          <a class="logo-desktop" href="#">
              <img src="../../assets/images/logo.png">
          </a>
      </div>
      <div class="content-text">
        <h2 class="widget-title">
            We are Steps, our strategists will help you set an objective and choose your tools, developing a plan for your business. 
        </h2>
        <ul class="side-info">
            <li class="li-address">
                <i class="icon-map-pin" aria-hidden="true"></i>
                13 Gehan St, Mansoura, Egypt
            </li> 
            <li class="li-phone">
                <a href="tel:#"> 
                      <i class="icon-phone" aria-hidden="true"></i>
                      002 0104748481 
                </a>
            </li>
            <li class="li-email">
                <a href="#"> 
                      <i class="icon-paperclip" aria-hidden="true"></i>
                      steps@gmail.com 
                </a>
            </li>
          </ul>
      </div>
    </div>
  </div>

</div>
