<header class="header-site">
  <div class="header-layout">
     <!-- Start topbar-panel -->
    <div class="topbar-panel" id="topbarpanel">
      <div class="container">
        <!-- Top Info contact -->
        <ul class="top-info">
          <li class="li-address">
              <i class="icon-map-pin" aria-hidden="true"></i>
              13 Gehan St, Mansoura, Egypt
          </li> 
          <li class="li-phone">
              <a href="tel:#"> 
                    <i class="icon-phone" aria-hidden="true"></i>
                    002 0104748481 
              </a>
          </li>
          <li class="li-email">
              <a href="#"> 
                    <i class="icon-paperclip" aria-hidden="true"></i>
                    <!-- <i class="far fa-envelope"></i> -->
                    steps@gmail.com 
              </a>
          </li>
        </ul> 
        <!-- Top Social Media -->
        <ul class="top-social">
          <li>Follow Us:</li>
          <li>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
              <a href="#">
                  <i class="fab fa-twitter"></i>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fab fa-google-plus-g"></i>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fab fa-linkedin-in"></i>     
              </a>
          </li>

        </ul>
      </div>

    </div>
    <!-- End topbar-panel -->
  </div>

<div class="nav-site">
    <!-- Start  Nav in Desktop -->
    <div class="container">
        <div class="navbar nav-flex">
            <div class="site-branding">
                <a class="logo-desktop" routerLink="/home">
                    <img src="../../assets/images/logo.png">
                </a>
            </div>

            <!-- Menu -->
            <nav class="main-navigation">
                   <ul class="menu">
                            <li><a class="nav-link active" routerLink="/home"> HOME</a>
                                    <ul class="sub-menu">
                                            <li><a routerLink="/home">Sub-Menu 1</a></li>
                                            <li><a routerLink="/home">Sub-Menu 2</a></li>
                                            <li><a routerLink="/home">Sub-Menu 3</a></li>
                                            <li><a routerLink="/home">Sub-Menu 4</a></li>
                                            <li><a routerLink="/home">Sub-Menu 5</a></li>   
                                    </ul>
                            </li>
                            <li><a  class="nav-link top-none" href="#">ABOUT</a></li>
                            <li><a class="nav-link top-none" href="#">PORTFOLIO</a>
                            <ul class="sub-menu">
                            <li><a href="#">Sub-Menu 1</a></li>
                            <li><a href="#">Sub-Menu 2</a></li>
                                <li><a href="#">Sub-Menu 3</a></li>
                            </ul>
                            </li>
                            <!-- <li><a  class="nav-link top-none" routerLink="/blog"> BLOG</a></li> -->
                            <li><a  class="nav-link top-none" href="#"> CATEGORIES</a>
                            <ul class="sub-menu">
                            <li><a href="#">Sub-Menu 1</a></li>
                            <li><a href="#">Sub-Menu 2</a></li>
                                <li><a href="#">Sub-Menu 3</a></li>
                            </ul>
                            </li>
                            <li><a  class="nav-link top-none" routerLink="/contact"> CONTACT</a></li>
                            <!-- <li><a  class="nav-link top-none" href="#"> SITEMAP</a></li> -->
                            </ul>
            </nav>
            <!-- Right Menu -->
        <div class="site-right-menu">
         
                <!-- Start Cart -->
                <div class="cart">
                    <span class="icon-cart">
                       
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16.094" viewBox="0 0 17 16.094" id="cart">
                                     <path class="cls-1" d="M1181.58,43h-3.59v2h2.27l0.94,3.323L1183.16,55h10.11l1.73-9h-13Zm10.46,10h-7.68l-1.37-5h10Zm-1.05,3a2,2,0,0,0-2,2c0,1.1.91,1,2.01,1s1.99,0.1,1.99-1A2,2,0,0,0,1190.99,56Zm-6,0a2,2,0,0,0-2,2c0,1.1.91,1,2.01,1s1.99,0.1,1.99-1A2,2,0,0,0,1184.99,56Z" transform="translate(-1178 -43)"></path>
                                </svg>
                              

                        <span class="counter-items">0</span>

                    </span>                    
                </div>
                <!-- End Cart -->
                <!-- Search  Icon -->
                <span class="menu-right-item h-btn-search">
                    <i class="fa fa-search"></i>
                </span>
                   <!-- Login -->
            <ng-template #anonymouseUser>
                <span class="menu-right-item h-btn-search user"  mat-raised-button (click)="openlogin()">
                    <i class="fa fa-user"></i> Login
                </span>
            </ng-template>
            <ul class="menu profile-menu" *ngIf="serviceauth.user$ | async as user else anonymouseUser">
                <li><a class="nav-link" routerLink="/home"> <i class="fa fa-user"></i> {{user.displayName}} </a>
                        <ul class="sub-menu">
                                <li><a routerLink="/profile">My-Profile</a></li>
                                <li><a (click)="logout()">LogOut</a></li>   
                        </ul>
                </li>
            </ul>
                <!-- SideBar -->
                <span class="btn-icon-sidebar-popup"  mat-raised-button (click)="openDialog()">
                    <span></span>
                </span>
                
                
            </div>
                
        </div>
        
    </div>
    <!-- End Nav in Desktop -->
    
</div>  
</header>



