<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <!-- Col-Footer-->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <!-- Logo -->
                    <div class="top-footer-logo">
                        <a href="#">
                                <img src="../../assets/images/w-logo.png">
                        </a>
                    </div>
                    <div class="text-logo-footer">
                        <p>
                                We are Steps, our strategists will help you set an objective and choose your tools, developing a plan for your business.                                 
                        </p>


                    </div>
                    <!-- Contacts -->
                    <div class="list-info">
                            <ul class="side-info">
                                <li class="li-address">
                                    <i class="icon-map-pin" aria-hidden="true"></i>
                                    13 Gehan St, Mansoura, Egypt
                                </li> 
                                <li class="li-phone">
                                    <a href="tel:#"> 
                                          <i class="icon-phone" aria-hidden="true"></i>
                                          002 0104748481 
                                    </a>
                                </li>
                                <li class="li-email">
                                    <a href="#"> 
                                          <i class="icon-paperclip" aria-hidden="true"></i>
                                          steps@gmail.com 
                                    </a>
                                </li>
                              </ul>
                        </div>
                </div>
                <!-- Col Footer -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="posts-fb">
                        <h2 class="footer-title">Recent Posts</h2>
                        <div class="posts-footer-fb">
                            <!-- Post Item -->
                            <div class="post-item">
                                <div class="post-date">
                                        Oct 15, 2017
                                </div>
                                <div class="post-title">
                                   <h5>
                                        <a href="#">
                                                Four ways to cheer up on Blue Monday!
                                        </a>
                                   </h5>
                                </div>

                            </div>
                               <!-- Post Item -->
                               <div class="post-item">
                                    <div class="post-date">
                                            Oct 15, 2017
                                    </div>
                                    <div class="post-title">
                                       <h5>
                                            <a href="#">
                                                    Four ways to cheer up on Blue Monday!
                                            </a>
                                       </h5>
                                    </div>
    
                                </div>
                                   <!-- Post Item -->
                            <div class="post-item">
                                    <div class="post-date">
                                            Oct 15, 2017
                                    </div>
                                    <div class="post-title">
                                       <h5>
                                            <a href="#">
                                                    Four ways to cheer up on Blue Monday!
                                            </a>
                                       </h5>
                                    </div>
    
                                </div>
                                

                        </div>
                    </div>
                </div>
                <!-- Col Footer -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="posts-fb">
                            <h2 class="footer-title">INSTAGRAM</h2>
                            <div class="insta-photos">
                                    <!-- UL latest photos from instagram -->
                                         <ul class="instagram-latest-photos"> 
     
                                             <li>
                                                 <img src="../assets/images/insta1.jpg" alt="instaram"> 
                                                 <div class="over-layer-insta">
                                                     <a href="#">
                                                         <div class="white-dotte-link">
                                                             <i class="fas fa-ellipsis-h"></i>
                                                         </div>
                                                     </a>
                             
                                                 </div>
                                             </li>
                                             <li>
                                                 <img src="../assets/images/insta2.jpg" alt="instaram"> 
                                                 <div class="over-layer-insta">
                                                     <a href="#">
                                                         <div class="white-dotte-link">
                                                                 <i class="fas fa-ellipsis-h"></i>
                                                         </div>
                                                     </a>
                                 
                                                 </div>
                                             </li>
                                             <li>
                                                     <img src="../assets/images/insta3.jpg" alt="instaram"> 
                                                     <div class="over-layer-insta">
                                                         <a href="#">
                                                             <div class="white-dotte-link">
                                                                     <i class="fas fa-ellipsis-h"></i>
                                                             </div>
                                                         </a>
                                     
                                                     </div>
                                                 </li>
                                                 <li>
                                                         <img src="../assets/images/insta4.jpg" alt="instaram"> 
                                                         <div class="over-layer-insta">
                                                             <a href="#">
                                                                 <div class="white-dotte-link">
                                                                         <i class="fas fa-ellipsis-h"></i>
                                                                 </div>
                                                             </a>
                                         
                                                         </div>
                                                     </li>
                                                     <li>
                                                             <img src="../assets/images/insta5.jpg" alt="instaram"> 
                                                             <div class="over-layer-insta">
                                                                 <a href="#">
                                                                     <div class="white-dotte-link">
                                                                             <i class="fas fa-ellipsis-h"></i>
                                                                     </div>
                                                                 </a>
                                             
                                                             </div>
                                                         </li>
                                                         <li>
                                                                 <img src="../assets/images/insta1.jpg" alt="instaram"> 
                                                                 <div class="over-layer-insta">
                                                                     <a href="#">
                                                                         <div class="white-dotte-link">
                                                                                 <i class="fas fa-ellipsis-h"></i>
                                                                         </div>
                                                                     </a>
                                                 
                                                                 </div>
                                                             </li>
                                         </ul>
                             </div>
                        </div>
                     
                </div>
                <!-- Col Footer -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="posts-fb">
                            <h2 class="footer-title">STAY UPDATED</h2>
                            <!-- Form -->
                            <form class="newsletter-form">
                                <div class="form-group">
                                    
                                </div>

                            </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-footer">

    </div>


</footer>
