/* .expand{
    display: none !important;
} */
.page-title{
    background-color: rgba(27, 26, 26, 0.25);
    background-image: url(../../assets/images/page-title.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    
}
.page-title .bg-overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    display: block;
    background-color: rgba(0, 0, 0, 0.25);
}
.page-title-content{
    padding-top: 155px;
    padding-bottom: 140px;
}
.title-content{
    text-align: center;
    font-size: 70px;
    line-height: 1.1;
    font-weight: 700;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 18px;
    color: #fff;
    margin-left: -2px;
    letter-spacing: -0.02em;
}

.branche-content{
    padding:110px 15px;
}
.title-bran{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-weight: bold;
}
.desc-branch{
    font-size: 15px;
    color:#9b9b9b;
    line-height: 1.5;
    margin-bottom: 25px;

}
.img-content{
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    
}
.header-img{
    position: absolute;
    text-align: center;
    top:100px;
    
}
.img-contact{
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.parallax-window {
	min-height: 400px;
	background: transparent;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
/* section {
  padding: 0px 0 0px;
  background: #fff;
} */
.contact-sec{
    background: #9b9b9b !important;
}

.img-contact{
    widows: 100%;
    height:100%;
    background: url(../../assets/images/contact-bg.jpg);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    float: left;
}
.form-content{
    float: right;
    padding-left: 0px !important;;
    padding-right: 0px !important;
    background: #f9f9f9;

}
.header-contact{
    padding:200px 0;
    text-align: center;
}
.header-contact img{
    padding-bottom: 25px;
}
.header-contact h3{
    color: #fff;
    font-size: 38px;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: -0.01em;
    font-family: 'Montserrat', sans-serif;
}
.inner-form{
    padding-top:19px;
    padding-right: 90px !important;
    padding-left: 70px !important;
}
.form-space{
    height: 65px;
}
.header-form{
    margin-bottom: 47px;
    font-size: 38px;    
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.header-form h3{
    font-size: 38px;    
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}


.get-in-touch {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .get-in-touch .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
     text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 48px;
    padding-bottom: 48px;
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 22px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #9b9b9b;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    background: transparent !important;
  }
  .textarea-text{
      height: auto !important;
      min-height: 120px !important;

  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    border:0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    min-width: 170px;
    background-color: #e6ae48;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    margin-top: 0;
  }
  .contact-form .submit-btn:hover{
    background: #333;
    -webkit-transition: all 300ms linear 0ms;
    -khtml-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
  }
.contact-form{
    display: block
}

.input-text.js-input:focus{
    border-color: #e6ae48;
}